services:
    postgres-dev:
        image: postgres:16-alpine
        restart: always
        container_name: postgres-dev
        env_file: .env.development
        environment:
            - POSTGRES_USER=${POSTGRES_USER} # Usa la variable del .env o un valor por defecto
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD} # Usa la variable del .env o un valor por defecto
            - POSTGRES_DB=${POSTGRES_DB} # Corregido para coincidir con tu .env (DBNAME)
        ports:
            - '${POSTGRES_PORT:-5433}:5432'
        volumes:
            - ./postgres_data_dev:/var/lib/postgresql/data

    redis-dev:
        image: redis:latest
        restart: always
        container_name: redis-dev
        env_file:
            - path: ./.env.development
        ports:
            - '${REDIS_PORT:-6380}:6379'
        environment:
            - REDIS_PASSWORD=${REDIS_PASSWORD:-Man12345.}
            - TZ=America/Caracas
        volumes:
            - ./redis_data_dev:/data
        command: sh -c "redis-server --requirepass $$REDIS_PASSWORD --appendonly yes"

    rabbitmq-dev:
        container_name: rabbitmq-dev
        image: 'rabbitmq:latest'
        restart: unless-stopped
        ports:
            - '${RABBITMQ_PORT_DEV:-5673}:5672'
            - '${RABBITMQ_MGMT_PORT_DEV:-15673}:15672'
        environment:
            - RABBITMQ_DEFAULT_USER=appadmin
            - RABBITMQ_DEFAULT_PASS=Man12345.
