services:
    backend-prod:
        build:
            context: production
            target: runner # Apunta explícitamente a la etapa final de producción
            args:
                - PORT=${PORT:-5050}
        container_name: inventario-backend-prod
        restart: unless-stopped
        env_file:
            - ./.env.prod # Usamos el archivo estándar .env
        ports:
            - '${PORT:-5050}:${PORT:-5050}' # Usa 5050 si PORT no está definido en el host
        environment:
            - NODE_ENV=production
        depends_on: # Se asegura de que las dependencias se inicien primero
            - postgres-prod
            - redis-prod
            - rabbitmq-prod
        deploy:
            resources:
                limits:
                    cpus: '0.50' # Limita el uso de CPU al 50%
                    memory: 512M # Limita la memoria a 512MB
                reservations:
                    cpus: '0.25' # Reserva al menos el 25% de CPU
                    memory: 256M # Reserva al menos 256MB de memoria

    postgres-prod:
        image: postgres:16-alpine
        restart: always
        env_file:
            - ./.env.prod
        environment:
            - POSTGRES_USER=${POSTGRES_USER} # Usa la variable del .env o un valor por defecto
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD} # Usa la variable del .env o un valor por defecto
            - POSTGRES_DB=${POSTGRES_DB} # Corregido para coincidir con tu .env (DBNAME)
        container_name: postgres-prod
        ports:
            - '${POSTGRES_PORT:-5432}:5432'
        volumes:
            - ./postgres_data_prod:/var/lib/postgresql/data

    postgres-dev:
        image: postgres:16-alpine
        restart: always
        env_file:
            - ./.env.development
        environment:
            - POSTGRES_USER=${POSTGRES_USER} # Usa la variable del .env o un valor por defecto
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD} # Usa la variable del .env o un valor por defecto
            - POSTGRES_DB=${POSTGRES_DB} # Corregido para coincidir con tu .env (DBNAME)
        container_name: postgres-dev
        ports:
            - '${POSTGRES_PORT:-5433}:5432'
        volumes:
            - ./postgres_data_dev:/var/lib/postgresql/data

    redis-prod:
        image: redis:latest
        restart: always
        container_name: redis-prod
        env_file:
            - ./.env.prod
        ports:
            - ${REDIS_PORT:-6379}:6379
        environment:
            - REDIS_PASSWORD=${REDIS_PASSWORD:-Man12345.}
            - TZ=America/Caracas
        volumes:
            - ./redis_data_prod:/data
        # Usamos sh -c y $$REDIS_PASSWORD para leer la variable DENTRO del contenedor
        command: sh -c "redis-server --requirepass $$REDIS_PASSWORD --appendonly yes"

    redis-dev:
        image: redis:latest
        restart: always
        container_name: redis-dev
        env_file:
            - ./.env.development
        ports:
            - '${REDIS_PORT:-6380}:6379'
        environment:
            - REDIS_PASSWORD=${REDIS_PASSWORD:-Man12345.}
            - TZ=America/Caracas
        volumes:
            - ./redis_data_dev:/data
        command: sh -c "redis-server --requirepass $$REDIS_PASSWORD --appendonly yes"

    rabbitmq-prod:
        container_name: rabbitmq-prod
        image: 'rabbitmq:latest'
        restart: unless-stopped
        ports:
            - '5672:5672'
            - '15672:15672'
        environment:
            - RABBITMQ_DEFAULT_USER=appadmin
            - RABBITMQ_DEFAULT_PASS=Man12345.

    rabbitmq-dev:
        container_name: rabbitmq-dev
        image: 'rabbitmq:latest'
        restart: unless-stopped
        ports:
            - '${RABBITMQ_PORT_DEV:-5673}:5672'
            - '${RABBITMQ_MGMT_PORT_DEV:-15673}:15672'
        environment:
            - RABBITMQ_DEFAULT_USER=appadmin
            - RABBITMQ_DEFAULT_PASS=Man12345.
